.homeBackground {
  background: url("img/ChessHomeBackGround.jpg") no-repeat center fixed;
  background-size: cover;
}

.quizBackground {
  background: url("img/ChessQuizBackGround.jpeg") no-repeat center fixed;
  background-size: cover;
}

.aboutBackground {
  background-color: rgba(0, 133, 255, 10);
}
body {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  width: 600px;
  margin: 25px auto;
  padding: 25px 150px 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav a {
  margin: 0px 40px;
  text-align: center;
}

.img {
  border: 5px solid;
  border-color: black;
}
.center {
  text-align: center;
}
